 <div class="">
   <form class="" action="<%= urls_url %>" method="post">

    <label for="url"> <strong>Enter your URL:</strong </label>
    <br>
    <input type="text" name="url" value="">
    <!-- <textarea name="url" rows="8" cols="40"></textarea> -->
    <button type="submit" name="button">Shorten Url</button>

  </form>

 </div>
