<form class="" action="<%= urls_url %>" method="post">

  <label for="url">Enter your URL: </label>
  <input type="text" name="url" value="">
  <!-- <textarea name="url" rows="8" cols="40"></textarea> -->
  <button type="submit" name="button">Submit</button>

</form>
