<form class="" action="<%= urls_url %>" method="post">

  <label for="url">Enter your URL: </label>
  <input type="text" name="url" value="">
  <button type="button" name="button">Submit</button>

</form>
